/*gerais*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

:root{
    --white: #fff;
    --black: #231f20;
    --blue: #1D4398;
    --gray: #e4ddd9;
    --gray2: #efe8e4;
}
img{
    max-width: 100%;
}
.blue{
    color: var(--blue);
}
.black{
    color: var(--black);
}
.font1{
    font-size: 12px;
}
.font2{
    font-size: 14px;
}
.font3{
    font-size: 16px;
}
.font4{
    font-size: 18px;
}
.font5{
    font-size: 20px;
}
.font6{
    font-size: 22px;
}
.font7{
    font-size: 24px;
}
.bold{
    font-weight: bold;
}
.text{
    color: #6c6c6c;
    font-size: 14px;
    text-align: start;
}
.container{
    max-width: 1315px;
    margin: 0 auto;
    padding: 0 20px;
}
/*gerais*/
/*header*/
header{
    background-color: var(--gray);
}
.header-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    align-items: center;
}
.nav-menu li{
    height: 100px;
    display: flex;
    align-items: center;
}
.nav-menu a{
    color: var(--black);
}
.language{
    display: flex;
    gap: 14px;
}
/*header*/

/*banenr*/
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
/*banenr*/


/*ultimos lançamentos*/
.releases{
    margin-top: 80px;
    padding-bottom: 75px;
    border-bottom: 1px solid #e5e5e5;
}
.releases-slider{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 60px;
}
.product-card{
    transition: .3s;
    border-color: #19b5f1;
}
.product-card h1{
    text-align: start;
    margin-top: 30px;
}
.product-card p{
    margin-top: 40px;
}
.product-card span{
    display: block;
    height: 5px;
    width: 25%;
    background-color: #e5e5e5;
    transition: 0.3s;
}
.product-card:hover{
    border-bottom: 1px solid #19b5f1;
}
.product-card:hover span{
    background-color: var(--blue);
    width: 30%;
}
.product-card-infos{
    transition: 0.3s;
}
.product-card:hover .product-card-infos{
    padding: 0px 20px;
}
.info-product{
    line-height: 1.5;
    height: calc(1.5em * 3);
}
.code-product{
    margin-bottom: 20px;
    color: transparent;
    transition: 0.3s;
}
.product-card:hover .code-product{
    color: #6c6c6c;
}
.voltar-slide, .pular-slide{
    border: 1px solid var(--blue);
    padding: 15px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.pagination-releases{
    display: none;
}
/*ultimos lançamentos*/

/*catalogo*/
.catalog{
    height: 100vh;
    margin-top: 110px;
}
.catalog-introduction{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0 40px;
    border-radius: 4px;
    border: 1px solid var(--blue);
}
.catalog-introduction-text{
    margin-top: -50px;
}
.catalog-introduction-text h1{
    background-color: var(--white);
    width: max-content;
    padding: 0 20px;
}
.catalog-introduction-text h2{
    padding-top: 40px;
    padding-left: 20px;
}
.catalog-introduction-img{
    margin-top: -50px;
}
.catalog-form{
    border: 1px solid var(--gray);
    border-radius: 4px;
    padding: 50px 230px 30px;
    margin-top: 18px;
}
.catalog-form h1{
    text-align: center;
}
.catalog-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
    margin-top: 45px;
}
.catalog-form input{
    padding: 15px;
    border: 1px solid var(--blue);
    border-radius: 4px;
    color: var(--black);
}
.button-container {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
}

.catalog-form form button {
    width: 350px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--blue);
    border-radius: 4px;
    background-color: var(--white);
    cursor: pointer;
}
.catalog-form i{
    color: var(--blue);
    font-size: 20px;
}
.catalog-products-cards{
    display: flex;
    gap: 36px;
    margin-top: 70px;
    flex-wrap: wrap;
}
.catalog-products-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background-color: #e8ecf4;
    padding: 40px 10px 35px 35px;
    border-radius: 4px;
    flex: 1 400px;
}
.catalog-products-card-introduction p{
    margin-top: 30px;
    margin-bottom: 50px;
}
.catalog-products-card-introduction a{
    padding: 10px 48px;
    border: 1px solid var(--blue);
    border-radius: 4px;
}
/*catalogo*/
