/*gerais*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #231f20;
    --blue: #1D4398;
    --blue2: #1a4a72;
    --gray: #e4ddd9;
    --gray2: #efe8e4;
}
img{
    max-width: 100%;
}

.blue{
    color: var(--blue);
}
.black{
    color: var(--black);
}
.font1{
    font-size: 12px;
}
.font2{
    font-size: 14px;
}
.font3{
    font-size: 16px;
}
.font4{
    font-size: 18px;
}
.font5{
    font-size: 20px;
}
.font6{
    font-size: 22px;
}
.font7{
    font-size: 24px;
}
.bold{
    font-weight: bold;
}
.text{
    color: #6c6c6c;
    font-size: 14px;
    text-align: start;
}
.container{
    max-width: 1315px;
    margin: 0 auto;
    padding: 0 20px;
}
/*gerais*/
/*header*/
header{
    background-color: var(--gray);
}
.header-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    align-items: center;
}
.nav-menu a{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-bottom: 4px solid transparent;
    color: var(--black);

}
.nav-menu a:hover{
    border-bottom: 4px solid var(--blue);
}
.ativo{
    border-bottom: 4px solid var(--blue) !important;
}
.nav-menu span{
    width: 2px;
    height: 24px;
    background-color: #c1b4ad;
}
.dropdown-header-open{
    position: absolute;
    z-index: 100;
    background-color: var(--white);
    display: none;
    top: 100px;
    left: 720px;
    padding: 0px 30px 0px 50px;
}
.dropdown-header-open ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dropdown-header-open .ativo{
    border-color: transparent !important;
}
.dropdown-header-open a{
    padding: 0px;
    height: max-content;
    position: relative;
    border: none;
}
.dropdown-header-open li:hover{
    border: none;
}
.dropdown-header-open a::before{
    content: "\f101";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: -20px;
    top: 0;
    color: var(--blue);
}
.dropdown-header:hover .dropdown-header-open{
    display: flex;
    gap: 40px;
    align-items: center;
}
.language{
    display: flex;
    gap: 14px;
}
.language button{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.burger{
    display: none;
}
.burger i{
    font-size: 30px;
    color: var(--blue);
}

@media (max-width: 1150px) {
    .nav-menu{
        gap: 20px;
    }
}
@media (max-width: 1020px) {
    .menu{
        display: none;
    }
    .header-content{
        padding: 15px 0;
    }
    .logo-header img{
        width: 70%;
    }
    .burger{
        display: block;
    }
}
/*menu lateral*/
.menu-lateral-header {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    transition: left .5s ease;
    z-index: 10000;
    display: flex;
}
.menu-lateral-header.ativo {
    left: 0;
}
.menu-lateral-header-content{
    background-color: #fcfcfc;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
}
.botao-fechar{
    background-color: var(--white);
    height: max-content;
    padding: 10px 20px;
    border-radius: 0px 4px 4px 0px;
}
.menu-lateral-header-content-logo{
    display: flex;
    justify-content: center;
}
.menu-lateral-header-content a{
    color: var(--black);
    font-size: 16px;
}
.menu-lateral-header-content h2{
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}
.menu-lateral-header-content > ul{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.menu-lateral-header-content li{
    margin-bottom: 20px;
}
.menu-lateral-header-content-quem-somos{
    margin-bottom: 5px !important;
}
.menu-lateral-col1-phone{
    margin-top: 40px;
}
.menu-lateral-col1-phone, .menu-lateral-col1-whats a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-lateral-col1-phone i{
    font-size: 30px;
    color: var(--blue);
}
.menu-lateral-col1-phone h1{
    font-weight: 500;
}
.menu-lateral-col1-whats{
    margin-top: 25px;
}
.menu-lateral-col1-whats i{
    font-size: 25px;
    color: var(--blue);
}
.menu-lateral-col1-whats a{
    font-size: 12px;
}
.menu-lateral-header-content > h1{
    margin-top: 25px;
}
.menu-lateral-header-content .box-links button{
    font-size: 16px;
    color: var(--black);
}
.menu-lateral-header-content .box-links dd{
    padding-top: 0;
}
#produto-menu-lateral li{
    position: relative;
    padding-left: 25px;
    display: flex;
}
#produto-menu-lateral li::after{
    content: "\f101";
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    left: 0px;
    top: 4px;
    color: var(--blue);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    
}
.overlay.ativar{
    right: 0;
    display: block;
}
/*menu lateral*/

/*header*/

/*banenr*/
.swiper {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    position: relative;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
.voltar-pular-slide-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1200px;
}

.voltar-slide-banner, .pular-slide-banner{
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: var(--white);
}
.banner-mobile{
    display: none;
}
@media (max-width: 1020px) {
    .banner{
        display: none;
    }
    .banner-mobile{
        display: block;
    }
}
/*banenr*/


/*ultimos lançamentos*/
.releases{
    margin-top: 80px;
    padding-bottom: 75px;
    border-bottom: 1px solid #e5e5e5;
}
.bold-tittle-releases-content{
    font-weight: bold;
}
.releases-tittle{
    display: flex;
    justify-content: space-between;
}
.releases-tittle-tittle{
    width: 200px;
}
.releases-tittle-line{
    height: 1px;
    width: 90%;
    background-color: #bbc6e0;
    margin-top: 18px;
}
.releases-tittle-line span{
    align-items: flex-end;
}
.releases-slider{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 60px;
}
.product-card{
    transition: .3s;
    border-color: #19b5f1;
    border: 1px solid white;
}
.product-card-img{
    width: 250px;
    height: 250px;
}
.product-card-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.product-card h1{
    text-align: start;
    margin-top: 30px;
}
.info-product {
    margin-top: 40px;
}
.product-card span{
    display: block;
    height: 5px;
    width: 40%;
    background-color: #e5e5e5;
    transition: 0.3s;
}
.product-card:hover{
    border-bottom: 1px solid #19b5f1;
}
.product-card:hover span{
    background-color: var(--blue);
    width: 45%;
}
.product-card-infos{
    transition: 0.3s;
}
.product-card-infos h1{
    color: var(--blue2);
}
.product-card:hover .product-card-infos{
    padding: 0px 20px;
}
.info-product{
    line-height: 1.5;
}
.code-product{
    margin-bottom: 20px;
    color: transparent;
    transition: 0.3s;
    padding-top: 40px;
}
.product-card:hover .code-product{
    color: #6c6c6c;
}
.voltar-slide, .pular-slide{
    border: 1px solid var(--blue);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.pagination-releases{
    display: none;
}
@media (max-width: 1020px) {
    .voltar-slide, .pular-slide{
        display: none;
    }
    .product-card{
        border-bottom: 1px solid #19b5f1;
    }
    .product-card span{
        background-color: var(--blue);
        width: 160px;
    }
    .product-card:hover span{
        width: 160px;
    }
    .code-product{
        color: #6c6c6c;
    }
    .product-card-img img{
        max-width: 80%;
    }
    .product-card:hover .product-card-infos{
        padding: 0;
    }
    .pagination-releases{
        display: block;
    }
    .navigation-slides-releases{
        margin-top: 50px;
    }
}
@media (max-width: 880px) {
    .releases-tittle-line{
        width: 80%;
    }
}
@media (max-width: 767px) {
    .product-card-img img{
        max-width: 65%;
    }
    .info-product{
        margin-top: 20px;
    }
    .code-product{
        padding-top: 20px;
    }
    .releases-tittle-line{
        width: 70%;
    }
    .releases-slider{
        margin-top: 0px;
    }
}
@media (max-width: 500px) {
    .releases-tittle-line{
        width: 50%;
    }
}
/*ultimos lançamentos*/

/*catalogo*/
.catalog{
    margin-top: 110px;
}
.catalog-introduction{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0 40px;
    border-radius: 4px;
    border: 1px solid var(--blue);
}
.catalog-introduction-text{
    margin-top: -50px;
}
.catalog-introduction-text h1{
    background-color: var(--white);
    width: max-content;
    padding: 0 20px;
}
.catalog-introduction-text h2{
    padding-top: 40px;
    padding-left: 20px;
}
.catalog-introduction-img{
    margin-top: -50px;
}
.catalog-form{
    border: 1px solid var(--gray);
    border-radius: 4px;
    padding: 50px 230px 30px;
    margin-top: 18px;
}

.catalog-form h1{
    text-align: center;
}
.catalog-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
    margin-top: 45px;
}

.catalog-form input{
    padding: 15px;
    border: 1px solid var(--blue);
    border-radius: 4px;
    color: var(--black);
}
@media (max-width: 1150px) {
    .catalog-form{
        padding: 50px 80px 30px;
    }
}

.button-container {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
}

.button-container button{
    border: none;
}
.button-container i{
    color: #3499d3;
    font-size: 20px;
}
.button-container a {
    width: 350px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--blue);
    border-radius: 4px;
    background-color: var(--white);
    cursor: pointer;
}
@media (max-width: 761px) {
    
}
.catalog-products-cards{
    display: flex;
    gap: 36px;
    margin-top: 70px;
    flex-wrap: wrap;
}
.catalog-products-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background-color: #e8ecf4;
    padding: 40px 10px 35px 35px;
    border-radius: 4px;
    flex: 1 450px;
}
.catalog-products-card-introduction p{
    margin-top: 30px;
    margin-bottom: 50px;
}
.catalog-products-card-introduction a{
    padding: 10px 48px;
    border: 1px solid var(--blue);
    border-radius: 4px;
}
.catalog-products-cards-responsive{
    display: none;
}

@media (max-width: 800px) {
    .catalog-introduction-img{
        margin-top: -80px;
    }
    .catalog-introduction-img img{
        width: 120px;
    }
    .catalog-introduction-text{
        margin-top: -15px;
    }
    .catalog-introduction-text h2{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (max-width: 767px) {
    .catalog-products-cards-responsive{
        display: block;
    }
    .catalog-introduction{
        padding: 0 20px;
    }
    .catalog-introduction-text{
        width: 100%;
    }
    .catalog-introduction-text h2{
        text-align: center;
        padding-left: 0;
        padding-top: 25px;
        padding-bottom: 20px;
        font-size: 14px;
    }
    .catalog-introduction-text h1{
        margin-left: 1%;
        position: relative;
        font-size: 16px;

    }
    .catalog-introduction-img{
        display: none;
    }
    .catalog-introduction-text h1::after {
        content: "";
        display: inline-block;
        width: 80px;
        height: 80px;
        background: url(../img/img-catalogo.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -100px;
    }
    .catalog-products-cards, .voltar-pular-slide-catalog{
        display: none;
    }
    .catalog-products-card{
        grid-template-columns: 1fr;
        padding: 30px 46px 45px 46px;
    }
    .catalog-products-card-introduction{
        order: 2;
    }
    .catalog-products-card-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        overflow: hidden; /* Esconder qualquer parte da imagem que ultrapasse a div */
      }
      
      .catalog-products-card-img img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; /* Faz com que a imagem se ajuste dentro do container sem cortar */
      }
      .catalog-products-card-introduction p{
        height: calc(1.5em * 3);
      }
      .navigation-slides-catalog{
        margin-top: 40px;
      }
      .catalog-form form{
        grid-template-columns: 1fr;
    }
    .catalog-form{
        padding: 50px 0px 30px;
        border: none;
    }
    .button-container{
        grid-column: 1;
    }
    .button-container a{
        width: 100%;
    }
    .button-container button{
        width: 100%;
    }
}
/*catalogo*/
/*footer*/
.newsletter{
    background-color: var(--gray2);
    margin-top: 110px;
}
.newsletter-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.newsletter-introduction{
    display: flex;
    gap: 15px;
    align-items: center;
}
.newsletter-introduction i{
    font-size: 40px;
    rotate: -35deg;
    color: var(--blue);
}
.newsletter-form{
    display: flex;
    gap: 20px;
}

.newsletter-form input{
    width: 290px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    height: max-content;
}

.newsletter-form button{
    padding: 10px 48px;
    margin-left: 20px;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@media (max-width: 1150px) {
    .newsletter-content{
        flex-direction: column;
    }
    .newsletter-form{
        margin-top: 32px;
    }
}
@media (max-width: 767px) {
    .newsletter-form{
        flex-direction: column;
        width: 100%;

    }
    .newsletter-form button{
        margin-left: 0;
        padding: 15px 48px;
    }
    .newsletter-form input{
        width: 100%;
    }
}
.footer-infos{
    background-color: var(--gray);
    padding: 60px 0 50px;
}
.footer-infos-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 180px;
}
.footer-infos-col1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.footer-infos-about p{
    margin-top: 25px;
    color: #000;
    font-weight: 500;
}
.footer-infos-about h1{
    font-weight: 500;
}
.footer-infos-about h2{
    margin-top: 40px;
}
.footer-infos-col1-phone{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;

}
.footer-infos-col1-phone i{
    font-size: 30px;
    color: var(--blue);
}
.footer-infos-col1-whats{
    background-color: var(--white);
    display: block;
    width: max-content;
    border-radius: 4px;
    margin-top: 20px;
}
.footer-infos-col1-whats a{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;

}
.footer-infos-col1-whats i{
    color: var(--blue);
    font-size: 24px;
}
.footer-infos-col2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}
.footer-infos-col2 button{
    color: #000;
}
.menu-suspenso h2 {
    margin-bottom: 60px;
}
.menu-suspenso a{
    font-size: 12px;
    color: var(--black);
    font-weight: 500;
}
.menu-suspenso button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border: none;
    background: none;
    width: 175px;
    text-align: left;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 25px;
    margin-bottom: 30px;
}
.menu-suspenso dd{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
@media (max-width: 767px) {
    .menu-suspenso{
        margin-top: 15px;
    }
    .menu-suspenso dl > div {
        padding: 20px;
        border-radius: 4px;
    }
    .menu-suspenso dl > div:nth-child(odd) {
        background-color: var(--cor-1);
    }
    .menu-suspenso button{
        border-bottom: none;
        width: 100%;
        margin-bottom: 0px;
        padding-bottom: 0;
        font-size: 18px;
    }
    .menu-suspenso a{
        font-size: 16px;
    }
    .menu-suspenso button::before {
        display: inline-block;
        width: 12px;
        height: 8px;
        background-color: var(--cor-p1);
    }
    
    .menu-suspenso button::after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 17px;
        background-image: url(../img/icons/skip-slide.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.3s;
    }
    .menu-suspenso button[aria-expanded="true"]::after {
        transform: rotate(90deg);
    }
    
    .menu-suspenso dd {
        gap: 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;
        padding: 0;
    }
    
    .menu-suspenso dd.ativa {
        max-height: 3000px;
        padding: 16px 0px;
    }
    
    .menu-suspenso dd {
        padding-top: 16px;
        max-width: 80ch;
    }
    .menu-suspenso span{
        width: 175px;
        height: 1px;
        background-color: var(--blue);
    }
}

.footer-infos-col2-social-media{
    display: flex;
    align-items: center;
    grid-column: span 2;
    justify-content: space-between;
}
@media (max-width: 1150px) {
    .footer-infos-content{
        gap: 50px;
    }
    .footer-infos-col2{
        gap: 50px;
    }
    .footer-infos-col1{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 767px) {
    .footer-infos-content{
        grid-template-columns: 1fr;
    }
    .footer-infos-logo{
        display: flex;
        justify-content: center;
    }
    .footer-infos-about h1, .footer-infos-about p, .footer-infos-about h2{
        text-align: center;
    }
    .footer-infos-about > h1::before{
        content: "";
        width: 2px;
        height: 14px;
        background-color: var(--blue);
        position: absolute;
        margin-left: -10px;
    }
    .footer-infos-col1-phone{
        justify-content: center;
    }
    .footer-infos-col1-whats {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .footer-infos-col1-whats a {
        justify-content: center;
    }
    .footer-infos-col2-social-media{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-top: 44px;
    }
    .footer-infos-col2{
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .footer-infos-col2-social-media{
        grid-column: 1;
    }
}
.footer-infos-col2-social-media i{
    color: var(--blue);
    font-size: 22px;
}
.footer-infos-col2-social-media-icons{
    display: flex;
    gap: 20px;
}


.copyright{
    background-color: var(--gray);
    border-top: 1px solid #c2b5ae;
}
.copyright-content{
    display: flex;
    gap: 35px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
@media (max-width: 767px) {
    .copyright-content{
        flex-direction: column;
    }
    .copyright-content p{
        order: 2;
    }
    .copyright{
        border-top: none;
    }
    .copyright-content-logo{
        border-bottom: 1px solid #c2b5ae;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 35px;
    }
}
/*footer*/

